<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit <%= character.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <a class="nav-link" href="/players/<%= player._id %>/characters/<%= character._id %>"><%= character.name %>'s Homepage</a>
    <h1>Edit your character</h1>
    <form action="/players/<%= player._id %>/characters/<%= character._id %>?_method=PUT" method="POST">
        <!-- name -->
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= character.name %>"/>
        <!-- class -->
        <label for="class">Class:</label>
        <select id="class" name="class">
            <option value="bard" <%= character.class === 'bard' ? "selected" : "" %>>Bard</option>
            <option value="cleric" <%= character.class === 'cleric' ? "selected" : "" %>>Cleric</option>
            <option value="druid" <%= character.class === 'druid' ? "selected" : "" %>>Druid</option>
            <option value="paladin" <%= character.class === 'paladin' ? "selected" : "" %>>Paladin</option>
            <option value="ranger" <%= character.class === 'ranger' ? "selected" : "" %>>Ranger</option>
            <option value="sorcerer" <%= character.class === 'sorcerer' ? "selected" : "" %>>Sorcerer</option>
            <option value="warlock" <%= character.class === 'warlock' ? "selected" : "" %>>Warlock</option>
            <option value="wizard" <%= character.class === 'wizard' ? "selected" : "" %>>Wizard</option>
        </select>
        <!-- spell slots 1-9 -->
        <label for="firstLvlSlots">Level 1 spell slots:</label>
        <input type="number" name="firstLvlSlots" id="firstLvlSlots" value="<%= character.firstLvlSlots %>"/>
        <label for="secondLvlSlots">Level 2 spell slots:</label>
        <input type="number" name="secondLvlSlots" id="secondLvlSlots" value="<%= character.secondLvlSlots %>"/>
        <label for="thirdLvlSlots">Level 3 spell slots:</label>
        <input type="number" name="thirdLvlSlots" id="thirdLvlSlots" value="<%= character.thirdLvlSlots %>"/>
        <label for="fourthLvlSlots">Level 4 spell slots:</label>
        <input type="number" name="fourthLvlSlots" id="fourthLvlSlots" value="<%= character.fourthLvlSlots %>"/>
        <label for="fifthLvlSlots">Level 5 spell slots:</label>
        <input type="number" name="fifthLvlSlots" id="fifthLvlSlots" value="<%= character.fifthLvlSlots %>"/>
        <label for="sixthLvlSlots">Level 6 spell slots:</label>
        <input type="number" name="sixthLvlSlots" id="sixthLvlSlots" value="<%= character.sixthLvlSlots %>"/>
        <label for="seventhLvlSlots">Level 7 spell slots:</label>
        <input type="number" name="seventhLvlSlots" id="seventhLvlSlots" value="<%= character.seventhLvlSlots %>"/>
        <label for="eigthLvlSlots">Level 8 spell slots:</label>
        <input type="number" name="eigthLvlSlots" id="eigthLvlSlots" value="<%= character.eigthLvlSlots %>"/>
        <label for="ninthLvlSlots">Level 9 spell slots:</label>
        <input type="number" name="ninthLvlSlots" id="ninthLvlSlots" value="<%= character.ninthLvlSlots %>"/>
        <button type="submit">Edit Character</button>
    </form>
</body>
</html>